.leaflet-container {
    background-color: #000;
}

footer {
    background-color: darkslategray;
}

.leaflet-popup-content-wrapper {
    background-color: #134043;
    width: auto;
    height: auto;
    text-align: center;
    transition-duration: 0.6s;
    cursor: pointer;
}

.leaflet-popup-tip {
    background-color: #134043;
}

.leaflet-popup-content-wrapper:hover {
    text-align: center;
    background-color: teal;
}
